[access]
	inheritFrom = scm/acls/domain_network_and_connectivity/data_network
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group Administrators
[project]
	description = "Domain: Network & Connectivity;"\n\
"Maintainers: Zhengguang Zhang,Taesoo Jun;"\n\
"Integrators: Jaehyun Kim;"\n\
"Licenses: GPL,GPL-2.0,Public-domain,GPL-2.0:3.0;"\n\

